body {
    background-color: #222222;
    margin: 0;
    padding: 0;
    background-image: url('./images/backdrop_light.png');
    background-repeat: repeat-x;
    background-size: contain;
    background-attachment: fixed;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-container {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    height: 55px;
    background-color: #383838;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.9);
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
}

.emblem {
    width: 100px;
    border-radius: 120px;
    border: 5px solid #383838;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
}

.header_text {
    position: absolute;
    top: 0;
    line-height: 0px;
    font-size: 160%;
    margin-left: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

.home {
    min-width: 370px;
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.37);
    width: 60%;
    border-radius: 20px;
    height: auto;
    padding-top: 1px;
    border: 3px solid #0e0e0e;
}

.donate {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    width: 60%;
    min-width: 370px;
    border-radius: 20px;
    height: auto;
    padding-top: 1px;
    border: 3px solid #0e0e0e;
}

.submenu {
    margin-top: 10px;
    height: auto;
    overflow-y: scroll;
    scrollbar-color: rgb(19, 19, 19) rgb(43, 43, 43) ;
    scrollbar-width: thin;
}

.menu_item {
    transition-duration: 0.3s;
    width: 90%;
    height: auto;
    background-color: #202020;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
    cursor: default;
}

.menu_item:hover{
    transition-duration: 0.3s;
    background-color: #3f3f3f;
}

.menu_text {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    padding-bottom: 25px;
}


.menu_header {
    width: 100%;
    font-size: 23px;
    padding-top: 2px;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 0px 2px 5px black;
    font-weight: bolder;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.green {
    background: linear-gradient(0deg, rgba(91,189,64,1) 0%, rgba(147,221,93,1) 100%);
}

.blue {
    background: linear-gradient(0deg, rgba(63,121,185,1) 0%, rgba(75,180,227,1) 100%);
}

.pink {
    background: linear-gradient(0deg, rgba(252,64,166,1) 0%, rgba(255,127,188,1) 100%);
}

.grey {
    background: linear-gradient(0deg, rgba(117,126,123,1) 0%, rgba(165,179,175,1) 100%);
}

.right {
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

.static {
    position: absolute;
    width: 65%;
    margin-bottom: 30px;
}

.screen_api {
    margin-top: 70px;
    width: 65%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    cursor: default;
    float: left;
    margin-left: 10px;
}
.screen_mods {
    display: none;
    margin-top: 70px;
    width: 60%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    cursor: default;
}
.screen_utilities {
    display: none;
    margin-top: 70px;
    width: 60%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    cursor: default;
}

.block {
    height: calc(100vh - 200px);
    background-color: #202020;
    border-radius: 10px;
    padding-bottom: 5px;
    overflow-y: scroll;
    scrollbar-color: rgb(19, 19, 19) rgb(43, 43, 43) ;
    scrollbar-width: thin;
}

.zblock {
    margin-top: 0px;
    padding-bottom: 10px;
    background-color: #202020;
}

.table_text {
    vertical-align: top;
}

button {
    background: linear-gradient(0deg, rgb(131, 131, 131) 0%, rgba(255,255,255,1) 100%);
    color: #092b5c;
    width: 130px;
    border: 0px solid white;
    border-radius: 20px;
    font-weight: bolder;
}

button:hover {
    background: linear-gradient(180deg, rgb(131, 131, 131) 0%, rgba(255,255,255,1) 100%);
}

.icon {
    
}

.back {
    transition-duration: 0.3s;
    color: #fff;
    margin-left: 10px;
    float: left;
}

.back:hover {
    transition-duration: 0.3s;
    color: rgb(0, 0, 0);
}

.block_content {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px
}

.title {
    font-weight: bolder;
    text-decoration: underline;
}

.subtitle {
    font-weight: bolder;
}

.index {
    display: block;
    text-align: left;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 3px solid rgba(255, 255, 255, 0);
}

.index:hover {
    border-left: 3px solid rgb(30, 255, 0);
    background-color: rgba(60, 255, 0, 0.281)
}

code {
    margin-right: 15px;
}

.indexbutton {
    transition-duration: 0.3s;
    color: #fff;
    margin-right: 10px;
    float: right;
}

.indexbutton:hover {
    transition-duration: 0.3s;
    color: rgb(0, 0, 0);
}

#indexbox {
    display: none;
    margin-top: 130px;
    width: 60%;
    background-color: #202020;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.9);
}